snippet jsono "json orm" b
${1:filedName}  ${2:type}       \`json:"${3:displayName}" orm:"${3:displayName}"\`
endsnippet

snippet jsonf "json form bind" b
${1:filedName}  ${2:type}       \`json:"${3:displayName}" form:"${3:displayName}" binding:"${4:required}"\`
endsnippet
